@charset "UTF-8";
/*========================================================================================
# mixins
==========================================================================================*/
/*========================================================================================
# colors
==========================================================================================*/
/*========================================================================================
# base - 全体に共通するスタイル
==========================================================================================*/
body {
  font-size: 16px;
  color: #333;
  font-family: "游ゴシック体", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.7;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 1199px) {
  .inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.main {
  padding-top: 100px;
}

@media screen and (max-width: 1199px) {
  .main {
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 80px;
  }
}

.section-wrapper {
  padding: 100px 0 120px;
}

.util-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .util-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 32px;
  }
}

.util-title::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

.util-link {
  display: inline-block;
  background: #3F51B5;
  color: #fff;
  border-radius: 8px;
  padding: 24px 120px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .util-link {
    padding: 22px 100px;
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .util-link {
    padding: 20px 60px;
    font-size: 18px;
  }
}

.util-link2 {
  display: inline-block;
  background: #3F51B5;
  color: #fff;
  border-radius: 8px;
  padding: 20px 77px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .util-link2 {
    padding: 18px 66px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .util-link2 {
    padding: 16px 50px;
    font-size: 16px;
  }
}

.util-link2::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: transparent url(../img/button-arrow.png) no-repeat center center/contain;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
}

/*==================================================================================
# header
=================================================================================== */
.header {
  background: #3F51B5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* ドロワーメニュー */
}

@media screen and (min-width: 1200px) {
  .header .drawer-toggle {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header .drawer-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header .drawer-toggle {
    display: block;
  }
}

.drawer--right .header .drawer-hamburger {
  top: 10px;
}

.header .drawer-hamburger-icon {
  background-color: #fff;
  height: 4px;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #fff;
  height: 4px;
}

@media screen and (max-width: 767px) {
  .drawer-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .header-inner {
    height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 80px;
  }
}

.header-logo {
  width: 205px;
  padding: 30px 0px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    width: 170px;
    padding: 0px;
  }
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav-item + .header-nav-item {
    margin-left: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav-item + .header-nav-item {
    margin-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-item + .header-nav-item {
    margin-left: 0px;
  }
}

.header-nav-item-link {
  display: block;
  color: #fff;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .header-nav-item-link:hover {
    opacity: 1;
  }
  .header-nav-item-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #E81919;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav-item-link:hover {
    opacity: 1;
  }
  .header-nav-item-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #E81919;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-item-link:hover {
    opacity: 1;
  }
  .header-nav-item-link:hover::after {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav-item-link.is-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #E81919;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav-item-link.is-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #E81919;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-item-link {
    font-size: 18px;
    color: #707070;
    text-align: left;
    letter-spacing: .05em;
    border-bottom: 1px dotted #333;
    padding: 20px 140px 20px 20px;
  }
  .header-nav-item-link::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: transparent url(../img/arrow-b.png) no-repeat center center/contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 12px;
  }
  .header-nav-item-link.is-active::after {
    display: none;
  }
}

/*==================================================================================
# fv
=================================================================================== */
.fv {
  background: url(../img/mainvisual.png) center center/cover;
  padding-top: 46.875%;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .fv {
    padding-top: 60%;
  }
}

@media screen and (max-width: 767px) {
  .fv {
    padding-top: 160%;
  }
}

.fv-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

.fv-copy-title {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .fv-copy-title {
    font-size: 52px;
  }
}

@media screen and (max-width: 767px) {
  .fv-copy-title {
    font-size: 32px;
  }
}

.fv-copy-lead {
  margin-top: 32px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .fv-copy-lead {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .fv-copy-lead {
    font-size: 18px;
  }
}

.fv-footer {
  margin-top: 40px;
  text-align: center;
}

/*==================================================================================
# card
=================================================================================== */
.bg {
  background-color: #EFEFEF;
}

.card-items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .card-items {
    display: block;
  }
}

.card-item {
  background: #fff;
  padding: 16px;
}

@media screen and (min-width: 1200px) {
  .card-item {
    width: calc(33.333% - 24px * 2 / 3);
    margin-right: 24px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .card-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .card-item {
    width: calc(50% - 24px * 1 / 2);
    margin-right: 24px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .card-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .card-item {
    width: 100%;
  }
  .card-item + .card-item {
    margin-top: 30px;
  }
}

.card-item-body {
  margin-top: 16px;
}

.card-item-title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
}

@media screen and (max-width: 767px) {
  .card-item-title {
    font-size: 18px;
  }
}

.card-item-text {
  margin-top: 16px;
  font-weight: bold;
  color: #6F7579;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .card-item-text {
    font-size: 14px;
  }
}

/*==================================================================================
# news
=================================================================================== */
.news-items {
  margin-top: 103px;
}

@media screen and (min-width: 1200px) {
  .news-items {
    padding: 0 240px;
  }
}

@media screen and (max-width: 1199px) {
  .news-items {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .news-items {
    padding: 0 15px;
  }
}

.news-item {
  border-bottom: solid  1px #707070;
  padding-bottom: 13px;
}

@media screen and (min-width: 1200px) {
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .news-item {
    display: block;
  }
}

.news-item:last-child {
  border-bottom: none;
}

.news-item + .news-item {
  margin-top: 20px;
}

.news-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
}

@media screen and (max-width: 767px) {
  .news-item-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .news-label {
    margin-left: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .news-label {
    margin-left: 14px;
  }
}

.news-label-link {
  display: block;
  text-align: center;
  color: #fff;
  background: #666666;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px;
}

.bg-primary {
  background: #3F51B5;
}

.bg-active {
  background: #E81919;
}

.news-item-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

@media screen and (min-width: 1200px) {
  .news-item-title {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .news-item-title {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-title {
    padding-top: 13px;
    margin-left: 0px;
  }
}

.news-item-title-link {
  display: block;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.25;
}

.news-footer {
  margin-top: 52px;
  text-align: center;
}

.news-link {
  display: inline-block;
  color: #E81919;
  font-weight: bold;
  position: relative;
  font-size: 16px;
}

.news-link::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: transparent url(../img/news-arrow.png) no-repeat center center/contain;
}

/*==================================================================================
# price
=================================================================================== */
.price-body {
  margin-top: 108px;
}

@media screen and (min-width: 1200px) {
  .price-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .price-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .price-body {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .price-img {
    width: 454px;
  }
}

@media screen and (max-width: 1199px) {
  .price-img {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .price-img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .price-table {
    margin-left: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 704px;
            flex: 0 1 704px;
  }
}

@media screen and (max-width: 1199px) {
  .price-table {
    margin-left: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
  }
}

@media screen and (max-width: 767px) {
  .price-table {
    margin-top: 30px;
    margin-left: 0px;
  }
}

.table {
  width: 100%;
  table-layout: fixed;
  border: solid 1px #707070;
  border-collapse: collapse;
}

.table th,
.table td {
  border: solid 1px #707070;
  vertical-align: middle;
  padding: 18px;
  line-height: 1;
}

.table th {
  color: #fff;
  font-weight: bold;
  background: #999;
}

.table td {
  font-weight: bold;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .table th:first-child {
    width: 170px;
  }
}

@media screen and (max-width: 1199px) {
  .table th:first-child {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .table th:first-child {
    width: 70px;
  }
}

.table-cost {
  font-weight: bold;
  color: #E81919;
}

.table-text {
  margin-top: 5px;
}

.table-footer {
  margin-top: 12px;
  font-size: 14px;
}

.table-link {
  font-weight: bold;
  color: #333;
}

/*==================================================================================
# access
=================================================================================== */
.access-inner {
  margin-top: 108px;
}

@media screen and (min-width: 1200px) {
  .access-inner {
    padding: 0 240px;
  }
}

@media screen and (max-width: 1199px) {
  .access-inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .access-inner {
    padding: 0 15px;
  }
}

.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.iframe-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access-items {
  margin-top: 16px;
}

.access-item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access-item-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  font-weight: bold;
}

.access-item-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 40px;
}

.access-footer {
  margin-top: 28px;
  text-align: center;
}

/*==================================================================================
# contact
=================================================================================== */
.form-inner {
  background: #fff;
  margin: 108px auto 0;
}

@media screen and (min-width: 1200px) {
  .form-inner {
    max-width: 800px;
    padding: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .form-inner {
    width: 90%;
    padding: 45px;
  }
}

@media screen and (max-width: 767px) {
  .form-inner {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-item + .form-item {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-item + .form-item {
    margin-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .form-item {
    display: block;
  }
  .form-item + .form-item {
    margin-top: 30px;
  }
}

.form-item-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 128px;
          flex: 0 0 128px;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .form-item-title {
    padding-top: 10px;
  }
}

.form-label-required {
  position: relative;
}

.form-label-required::after {
  display: block;
  content: "必須";
  position: absolute;
  color: #fff;
  background: #E81919;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  width: 33px;
  text-align: center;
  padding: 5px;
  top: 22px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .form-label-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 20px);
  }
}

@media screen and (min-width: 1200px) {
  .form-item-input {
    margin-left: 32px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 520px;
            flex: 0 0 520px;
  }
}

@media screen and (max-width: 1199px) {
  .form-item-input {
    margin-left: 22px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 460px;
            flex: 0 0 460px;
  }
}

@media screen and (max-width: 767px) {
  .form-item-input {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
  }
}

.form-footer {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .form-radio-item + .form-radio-item {
    margin-left: 33px;
  }
}

@media screen and (max-width: 1199px) {
  .form-radio-item + .form-radio-item {
    margin-left: 22px;
  }
}

@media screen and (max-width: 767px) {
  .form-radio-item {
    display: block;
  }
  .form-radio-item + .form-radio-item {
    margin-top: 14px;
    margin-left: 0px;
  }
}

.form-privacy {
  margin-top: 67px;
  text-align: center;
}

.form-privacy-text-link {
  display: inline-block;
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

.form-submit {
  margin-top: 35px;
  text-align: center;
}

/* reset */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  font-size: 14px;
  border-radius: 0;
}

input[type="text"],
input[type="email"],
select {
  height: 38px;
}

textarea {
  min-height: 240px;
  resize: none;
}

/* original */
.form-input {
  border: 1px solid #707070;
  padding: 4px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent url(../img/select-arrow.png) no-repeat center right 12px/17px 14px;
  cursor: pointer;
  padding: 3px 16px;
}

.form-textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 16px;
}

.form-radio {
  display: none;
}

.form-radio + span {
  display: inline-block;
  cursor: pointer;
  padding: 0 0 0 30px;
  position: relative;
}

.form-radio + span::before, .form-radio + span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-radio + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
}

.form-radio + span::after {
  border: 1px solid transparent;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #3F51B5;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-radio:checked + span::after {
  opacity: 1;
}

.form-checkbox {
  display: none;
}

.form-checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .form-checkbox + span {
    padding: 0 0 0 35px;
  }
}

.form-checkbox + span::before, .form-checkbox + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-checkbox + span::before {
  background: #fff;
  border: solid 1px #707070;
  display: block;
  left: 0;
  width: 25px;
  height: 25px;
}

.form-checkbox + span::after {
  border: solid 1px transparent;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url(../img/check.png) no-repeat center center/contain;
  -webkit-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
  opacity: 0;
}

.form-checkbox:checked + span::after {
  opacity: 1;
}

.submit-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 16px 78px;
  background: #3F51B5 url(../img/button-arrow.png) no-repeat center right 12px/17px 16px;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 1200px) {
  .submit-btn {
    min-width: 304px;
  }
}

@media screen and (max-width: 1199px) {
  .submit-btn {
    min-width: 287px;
    padding: 18px 66px;
  }
}

@media screen and (max-width: 767px) {
  .submit-btn {
    min-width: 255px;
    padding: 16px 50px;
  }
}

.submit-btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .7;
}

/*==================================================================================
# footer
=================================================================================== */
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: linear-gradient(to bottom, #666, #333);
  padding: 60px 0px 24px;
}

@media screen and (min-width: 1200px) {
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .footer-items {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
            flex: 0 0 34%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-item-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media screen and (max-width: 767px) {
  .footer-item-left {
    text-align: center;
  }
}

.footer-logo {
  width: 205px;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    margin: 0 auto;
  }
}

.footer-address {
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}

.footer-tel {
  margin-top: 14px;
  color: #fff;
  font-size: 14px;
}

@media screen and (min-width: 1200px) {
  .footer-item-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
            flex: 0 0 46%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-item-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-nav-list {
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav-item + .footer-nav-item {
  margin-left: 37px;
}

@media screen and (max-width: 1199px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 12px;
  }
}

.footer-nav-item-link {
  display: block;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .footer-item-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-item-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .footer-sns-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 1199px) {
  .footer-sns-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-sns-item {
  text-align: right;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 16px;
}

.footer-sns-item-link {
  display: block;
  width: 30px;
  height: 30px;
}

.footer-bottom {
  margin-top: 46px;
  text-align: center;
}

.copy-right {
  font-size: 14px;
  color: #fff;
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
  display: none;
}

@media screen and (max-width: 1199px) {
  .totop {
    width: 50px;
    height: 50px;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .totop {
    right: 14px;
    bottom: 14px;
    width: 40px;
    height: 40px;
    display: none;
  }
}
